*{
    padding: 0px;
    margin: 0px;
}
.alllmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:60vh;
}
.maininpbut{
    border: 3px solid red;
    width:60vh;
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}